.icon {
	display: flex;
	height: 64px;
	min-width: 64px;
	margin: 16px 8px;

	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #f6a88a;
}

li {
	display: flex;
	height: 136px;

	border-bottom: 1px solid #d0d5dd;
}

article {
	display: flex;
	flex-direction: column;
	margin: 16px 8px;
}

.title {
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
}

.distance {
	color: #ec4a0a;
	line-height: 24px;
}

.description {
	display: -webkit-box;

	padding-top: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
