.restaurant {
  display: flex;
  padding: 16px 8px;
  align-items: flex-start;
  border-bottom: 1px solid #e9eaed;
}

.restaurant__category {
  display: flex;
  width: 64px;
  height: 64px;
  background: var(--lighten-color);
  justify-content: center;
  align-items: center;
  min-width: 64px;
  min-height: 64px;
  margin-right: 16px;
  border-radius: 50%;
}

.category-icon {
  width: 36px;
  height: 36px;
}

.restaurant__info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.restaurant__text {
  display: flex;
  flex-direction: column;
}

.restaurant__name {
  margin: 0;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;
  padding-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
