.modal {
  background: transparent;
  border: none;
  z-index: 10000;
  width: 100%;
  height: 100%;
}

.modalContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;

  padding: 32px 16px;

  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);

  border: none;
  outline: 0;
}

.modal button {
  margin-top: 24px;
}
