.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 32px 16px;

  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.modal-title {
  margin-bottom: 36px;
}

.modal-detail-view {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-detail-view .modal-title {
  margin: 0;
}

.modal-detail-view .text-body {
  -webkit-box-orient: initial;
}

.modal-detail-view .restaurant__link {
  color: var(--grey-500);
}

.modal-detail-view .restaurant__favorite {
  position: inherit;
}

.modal-detail-view .favorite-icon {
  position: absolute;
  top: 32px;
  right: 16px;

  cursor: pointer;
}
