.modal {
  background: transparent;
  border: none;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.modal-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;

  padding: 32px 16px;

  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.restaurant__information {
  display: flex;
  align-items: center;
}

.restaurant-detail__description {
  margin-top: 32px;
}

.restaurant__link {
  display: block;
  margin-top: 24px;
  color: var(--darken-color-2);
  cursor: pointer;
}

.modal button {
  margin-top: 24px;
}
