.headerContainer {
	position: sticky;
	top: 0;

	opacity: 0.95;
	backdrop-filter: blur(8px);

	background: #ec4a0a;
	min-height: 64px;
}

.title {
	color: white;
	height: 24px;
	padding: 20px 16px;
	font-weight: 600;
	font-size: 20px;
}
