.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: var(--primary-color);
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 840px;
}

.title {
  color: #fcfcfd;
}
