.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  min-width: 390px;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  padding: 20px 16px;

  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #ec4a0a;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 16px 36px 16px;

  background-color: white;
}
