.container {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 32px 16px;

  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;

  margin-bottom: 16px;

  border-radius: 50%;
  background: var(--lighten-color);
}

.info {
  margin: 0 0 42px 0;
}

.name {
  margin: 0 0 16px 0;
}

.distance {
  color: var(--primary-color);
}

.description {
  margin: 16px 0;
}

.link {
  color: var(--grey-500);
  text-decoration-line: underline;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  background: var(--primary-color);
  color: var(--grey-100);

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 640px) {
  .container {
    top: 50%;
    left: 50%;
    bottom: initial;
    width: 600px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
  }
}
