* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

:root {
  --darken-color-1: #d44208;
  --darken-color-2: #de4509;
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-150: #ebeef2;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.restaurant-navigation {
  display: flex;
}

input[type='radio'],
input[type='radio']:checked {
  appearance: none;
}

input[type='radio']:checked + label {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.tab-name {
  width: 50%;
  padding-top: 32px;
  padding-bottom: 16px;

  background-color: transparent;

  color: var(--grey-300);
  font-weight: bold;
  text-align: center;

  border: none;
  border-bottom: 2px solid var(--grey-200);

  cursor: pointer;
}

.tab-button {
  width: 50%;
  padding-top: 32px;
  padding-bottom: 16px;

  background-color: transparent;

  color: var(--grey-300);
  font-weight: bold;
  text-align: center;

  border: none;
  border-bottom: 2px solid var(--grey-200);

  cursor: pointer;
}

.tab-button--active {
  color: var(--primary-color);

  border-color: var(--primary-color);
}

.hide-overflow {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.15);

  cursor: pointer;
}
